  
{% extends "base.html" %}


{% block nav_bar %}


<nav class="navbar navbar-default">
  <div class="container-fluid">
 
    <ul class="nav navbar-nav navbar-right">
 
     
          <li class="active">        
            
                 <form action="/m/register" method="post">
               				{% csrf_token %}
                      
                	<button  class="btn btn-info">Register</button>
           		</form> 
                   
               
            

      </li>
      </ul>



    
  </div>
</nav>

<br/>
<br/>



{% endblock  %}













{% block content %}
{% if error %}
 <h1>   Wrong username or password </h1>
{% endif %}









<br/>


<br/>
<br/>
<br/>

<div class='container'>

	<div class="center-block">
	<div class='row'>
	<div class='cold-md-offset-3 cold-md-6'>
	<div class="panel panel-primary" style="width:50%">
		<div class="panel-heading">
		<h1> Login  </h1>
		</div>
	

     
      					<div class="panel-body">
      					<div class='cold-md-offset-3 cold-md-6'>
    
	
							
				
						
								<form action="auth" method="post"> 
				    				{% csrf_token %}
				    			<div class='row'>
				    			<div class="form-group  col-md-offset-4 col-md-5">

							    <div class='input-group'>
							    <span class="input-group-addon" id="basic-addon1"><t class='glyphicon glyphicon-user'></t></span>
							    <input type="text" name='username' value='' class="form-control" placeholder="Username" id="username" aria-describedby="basic-addon1" >
							    </div>
							</div>

							</div>
							  <div class='row'>
							  	<div class="form-group col-md-offset-4 col-md-5">
							  		<div class='input-group'>		    	
							    	<span class="input-group-addon" id="basic-addon1"><t class='glyphicon glyphicon-hand-right'></t></span>
							    	<input type="password" name='password' class="form-control"  value='' id="Password1" placeholder="Password">
							    	</div>
							  	</div>
							  </div>
								
								<br/>
								<div class='row'>
					    		<div class='col-md-offset-5 cold-md-6'>
					    		<button class="btn btn-success">Submit</button>
					    		
					    		</div>
					    		</div>
		    					
						</form>
						
						
						</div>
						</div>
			
			
		
		</div>
		
	
	
	</div>
	</div>
	</div>



{% endblock %}
	