

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.col-center-block {
    float: none;
    display: block;
    margin: 0 auto;
    /* margin-left: auto; margin-right: auto; */
}

.panel-primary{
	margin: 0 auto;
	
}

p
{
	color:white;
}
.panel-default{
	margin: 0 auto;
	
}
h2
{
	color:white;
}

h3{
    
        color:white;
    }
