{% extends "base.html" %}

{% block nav_bar %}
<nav class="navbar navbar-custom" id='grad1'>
  <div class="container-fluid">
     <ul class="nav navbar-nav navbar-right">
      <li class="active">     
       <form action="/home" method="post">
            {% csrf_token %}     
            <input type="hidden"  name='profil' value="0">
            <button class="btn btn-custom btn-md">
              <span class="glyphicon  glyphicon glyphicon-home" aria-hidden="true"></span>               
                    Home
            </button>  
      
    	</form>         
      </li>
     

      </ul> 
  </div>
</nav>
{% endblock  %}



{% block content %}
<br/>
<div class='container'> 	

<form method='post' action=''>
	{% csrf_token %}
	{{ form.as_p}}
	<button type='submit'> Submit </button>
</form>
</div>
</div>



{% endblock %}