{% extends "fiche_track_base.html" %}

{% block nav_bar %}


<nav class="navbar navbar-custom" id='grad1'>
  <div class="container-fluid">
 
 {% if  recommend_song  %}
   	<input type="hidden"  id='update_or_not'  value="True">
{% else  %}
	<input type='hidden' id='update_or_not'  value="False">
{% endif  %}
 

    <ul class="nav navbar-nav navbar-right">
 <li class="active">
 
 <span  id='sortir' class="label label-danger" style="height:35px">Logout when leaving</span>

 	</li>
         <li class="active">
	      <button class="btn btn-custom btn-md" id='feedback'>
	      <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> 
        		Feedback 
            </button>
     	 </li>
      <li class="active">      
	      <form id='home' class='form-horizontal' action=""  method='post'>
				  {% csrf_token %}
				  <input type='hidden' class='liste' name='liste' value="{{l}}">
				  <input type="hidden"  class='percentage2' name='percentage2' value="">
				  <input type="hidden"  class='listening_time2' name='listening_time2' value="">
				 
				  <button class="btn btn-custom btn-md">
				    <span class="glyphicon glyphicon glyphicon-home" aria-hidden="true"></span> 
				    
				     home
				  </button> 
		 </form>   
      </li>
          <li>
     
           <form id='logout' action="" method="post">
            
                {% csrf_token %}
                <input type='hidden' class='liste3' name='liste3' value="{{l}}">
				  <input type="hidden"  class='percentage2' name='percentage2' value="">
				  <input type="hidden"  class='listening_time2' name='listening_time2' value="">
                 <button class="btn btn-custom btn-md">
                     <span class="glyphicon glyphicon glyphicon-off" aria-hidden="true"></span> 
                   logout       
                   </button>  
                   
               
            </form>

      </li>
      </ul>
    
  </div>
</nav>



{% endblock  %}























 

{%  block recommendations  %}

<div class="panel panel-custom panel-horizontal" >
              <div class="panel-heading" id='grad1'>

             
                 
                 	
        
 			<form id='swtich_page2' class='swtich_page2' action="" method='post'>
		                        {% csrf_token %}  
		                         
		                         
		                        <input type="hidden" id='percentage' class='percentage' name='percentage' value="">
		                        
		                        
		                        <input type="hidden" id='listening_time' class='listening_time' name='listening_time' value="">
		                        
		                        <input type='hidden' class='liste2' name='liste2' value="{{l}}">
		                        <br/> 
		                        <input type='hidden' class='queue' name='queue' value="None"> 
		                        
		                        <span  class="label label-custom2" >1.</span>
		                        <span id='titre_1' class="label label-custom2" name='titre_1'>empty</span>
		                        
		                        <span  class="label label-custom2" >2.</span>
		                        <span id='titre_2' class="label label-custom2" name='titre_2'>empty</span>
		                        <!-- <br/> -->
		                        <input type='hidden' id='titre_1' class='titre_1' name='titre_1' value="empty">
		                        <!-- <br/>  -->
		                        <input type='hidden' id='titre_2' class='titre_2' name='titre_2' value="empty"> 
		                        
		                        <!--<input type="hidden" id="next_song" name="next_song" value="time"> -->
		                      
		                      <button id='load2' class="btn btn-custom2 btn-sm" >
	
		                     <!--   <i class="fa fa-play" id='play_songs' style="font-size:40px;color:red"></i> -->
		                      <span class="glyphicon glyphicon-play-circle" id='plqy_songs' aria-hidden="true" style="font-size:40px"></span>

		                      </button>


		                      
		   </form> 

 

		    <button id='unload' class="btn btn-custom2 btn-sm" >
			<span class="glyphicon glyphicon-trash" id='play_songs' aria-hidden="true" style="font-size:30px"></span> 
			
			
			 	
			  </button> 

			  		<!-- <h3 id='pub'>  -->
			  		<span class="pull-right">
                 	<span class="label label-danger" id='pub2'>
                 		<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading recommendations ...
                 	</span>
                 	</span>

                   <!--  </h3> -->



           </div>

                      <div class="panel-main-body" >
                        
                      		
                      			<div id="conteneur">
                      			{% if recommend_song %}

                      						{% for x in liste %}

				                            	<div id='element_{{forloop.counter0}}' class="element">
				                            	<br/>
				                            	<span  id='genre_{{forloop.counter0}}' class="label label-primary"> genre </span>
				                            	<br/>
				                            	<br/>
				                            	<span  id='Eelement_{{forloop.counter0}}' class="label label-custom"> N/A </span>
				                            	<br/>
				                            	<br/>
				                                  <div id='queue_{{forloop.counter0}}'>
				                                  <img src="" id='image_{{forloop.counter0}}' class='img-circle' alt="Please wait " > 
				                                  </div>
				                                  <br/>
				                                  
						   						    <input type="hidden" class="rating2" data-filled="glyphicon glyphicon-heart custom-heart" data-empty="glyphicon glyphicon-heart-empty custom-heart" data-readonly data-fractions="3"  value=4/>	
						   						    <br/>	               	   
						   							<span id='NOTE_{{forloop.counter0}}' class="label label-danger">0</span>

						   								<br/>
						   							<br/>		
						   					 	 <form id='swtich_page_{{forloop.counter0}}' class='swtich_page' action='' method='post'>
						   							{% csrf_token %}					   						    
						   							<input type="hidden" class='next_song_{{forloop.counter0}}' value="N/A"> 		
						   		
				                                    
												</form>   					
				                                  
				                                 
				                            	</div>
				                            		
				                       		 {% endfor %}








                      			{% else %}



                      						{% for x in liste %}

				                            	<div id='element_{{forloop.counter0}}' class="element">
				                            	<br/>
				                            	<span  id='genre_{{forloop.counter0}}' class="label label-primary"> {{x.track_genre}} </span>
				                            	<br/>
				                            	<br/>
				                            	<span  id='Eelement_{{forloop.counter0}}' class="label label-custom">{{x.Artist}} - {{x.track_name}} </span>
				                            	<br/>
				                            	<br/>
				                                  <div id='queue_{{forloop.counter0}}'>
				                                  <img src="{{x.Artist_image}}" id='image_{{forloop.counter0}}' class='img-circle' alt="Please wait " > 
				                                  </div>
				                                  <br/>
				                                  
						   						    <input type="hidden" class="rating2" data-filled="glyphicon glyphicon-heart custom-heart" data-empty="glyphicon glyphicon-heart-empty custom-heart" data-readonly data-fractions="3"  value={{x.track_popularity}}/>	
						   						    <br/>	               	   
						   							<span id='NOTE_{{forloop.counter0}}' class="label label-danger">{{x.track_popularity}}</span>

						   								<br/>
						   							<br/>		
						   					 	 <form id='swtich_page_{{forloop.counter0}}' class='swtich_page' action='' method='post'>
						   							{% csrf_token %}					   						    
						   							<input type="hidden" class='next_song_{{forloop.counter0}}' value="{{x.track_pseudo}}"> 		
						   		
				                                    
												</form>   					
				                                  
				                                 
				                            	</div>
				                            		
				                       		 {% endfor %}








										
				                 {% endif %}
		                         </div>

		                         
                       </div>

</div>    
		       
{% endblock %}






 

 

{% block in_queue %}


 
<!--  <div class="col-sm-12  col-md-12  col-lg-12 " id='queue__'>
		<h3> Load songs here</h3>
		
		  <form id='swtich_page2' class='swtich_page2' action="" method='post'>
		                        {% csrf_token %}  
		                         
		                         
		                        <input type="hidden" id='percentage' class='percentage' name='percentage' value="">
		                        
		                        
		                        <input type="hidden" id='listening_time' class='listening_time' name='listening_time' value="">
		                        
		                        <input type='hidden' class='liste2' name='liste2' value="{{l}}">
		                        <br/> 
		                        <input type='hidden' class='queue' name='queue' value="None"> 
		                        
		                        <span  class="label label-custom2" >1.</span>
		                        <span id='titre_1' class="label label-custom2" name='titre_1'>empty</span>
		                        <br/>
		                        <span  class="label label-custom2" >2.</span>
		                        <span id='titre_2' class="label label-custom2" name='titre_2'>empty</span>
		                        <br/>
		                        <input type='hidden' id='titre_1' class='titre_1' name='titre_1' value="empty">
		                        <br/> 
		                        <input type='hidden' id='titre_2' class='titre_2' name='titre_2' value="empty"> 
		                        <br/> 
		                      
		                      
		                      <button id='load2' class="btn btn-custom2 btn-sm" >
		        
		                       <i class="fa fa-play" id='play_songs' style="font-size:48px;color:red"></i>
		                    
		                       Play                
		                      </button>
		                      
		   </form>           




		   <button id='unload' class="btn btn-custom2 btn-sm" >
								<span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span>
								
								 clear 		
		  					  </button> 
			  <button type="button" class="btn btn-custom2 btn-sm" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Load one or     
two songs 
from bottom 
recomendations">
				  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
			</button>

		  					
		  					 
  
</div>    -->                            

		   					







{% endblock  %}




	