{% extends "fiche_track_base.html" %}

{% block nav_bar %}


<nav class="navbar navbar-custom" id='grad1'>
  <div class="container-fluid">
 
    <ul class="nav navbar-nav navbar-right">
         <li class="active">
	      <button class="btn btn-custom btn-md" id='feedback'>
	      <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> 
        		Feedback 
            </button>
     	 </li>
      <li class="active">      
	      <form id='home' class='form-horizontal' action=""  method='post'>
				  {% csrf_token %}
				  <input type='hidden' class='liste' name='liste' value="{{l}}">
				  <input type="hidden"  class='percentage2' name='percentage2' value="">
				  <input type="hidden"  class='listening_time2' name='listening_time2' value="">
				 
				  <button class="btn btn-custom btn-md">
				    <span class="glyphicon glyphicon glyphicon-home" aria-hidden="true"></span> 
				    
				     home
				  </button> 
		 </form>   
      </li>
          <li>
     
           <form id='logout' action="" method="post">
            
                {% csrf_token %}
                <input type='hidden' class='liste3' name='liste3' value="{{l}}">
				  <input type="hidden"  class='percentage2' name='percentage2' value="">
				  <input type="hidden"  class='listening_time2' name='listening_time2' value="">
                 <button class="btn btn-custom btn-md">
                     <span class="glyphicon glyphicon glyphicon-off" aria-hidden="true"></span> 
                   logout       
                   </button>  
                   
               
            </form>

      </li>
      </ul>
    
  </div>
</nav>



{% endblock  %}























 

{%  block recommendations  %}

<div class="panel panel-custom panel-horizontal" >
              <div class="panel-heading" id='grad1'>
                 <h4 id='pub'>Wait for recomendations</h4>
                    </div>
                      <div class="panel-main-body" >
                        
                      		
                      			<div id="conteneur">
								{% for x in liste %}
								
										
								<!-- rate de la chanson -->

										<!-- <input type="text" class='song_rate' id="song_rate" name="song_rate" value="{{ x.track_popularity }}"> -->

		                            	<div id='element_{{forloop.counter0}}' class="element">
		                            	<br/>
		                            	<span  id='genre_{{forloop.counter0}}' class="label label-primary"> genre </span>
		                            	
		                            	<br/>
		                            	<br/>
		                            	<span  id='Eelement_{{forloop.counter0}}' class="label label-custom"> N/A </span>
		                            	
		                            	<br/>
		                            	<br/>
		                            	

		                                  
		                                  
		                                  <img src="https://s3.ca-central-1.amazonaws.com/music-rec/wait.gif" id='image_{{forloop.counter0}}' class='img-circle' alt="Please wait " > 
		                                  <br/>
		                                  

				   						    <input type="hidden" class="rating2" data-filled="glyphicon glyphicon-heart custom-heart" data-empty="glyphicon glyphicon-heart-empty custom-heart" data-readonly data-fractions="3"  value=4/>	
				   						    <br/>	                                  	   
				   							<span id='NOTE_{{forloop.counter0}}' class="label label-danger">0</span>

				   							
				   							<br/>		
				   							<br/>		   			

				   					 	 <form id='swtich_page_{{forloop.counter0}}' class='swtich_page' action='' method='post'>
				   							{% csrf_token %}	
				   						    
				   						
				   						
				   							<input type="hidden" class='next_song_{{forloop.counter0}}' value="N/A"> 
				   							

				   						
				   		
		                                    
										</form>  

										<button id='queue_{{forloop.counter0}}' class="btn btn-custom btn-sm" >
				   						<span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
				   						<br/>
				   						 Select		
                      					</button>


                      					
		                                  
		                                 
		                                  
		                                  <br/>
		                                 
		                            	</div>
		                            		
		                        {% endfor %}
		                         </div>

		                         
                       </div>

</div>    
		       
{% endblock %}






 

 

{% block in_queue %}


 
 <div class="col-sm-12  col-md-12  col-lg-12 " id='queue__'>
		<h3> Next songs</h3>
		
		  <form id='swtich_page2' class='swtich_page2' action="" method='post'>
		                        {% csrf_token %}  
		                          <!--  sending variables to django -->
		                         
		                        <input type="hidden" id='percentage' class='percentage' name='percentage' value="">
		                        
		                        
		                        <input type="hidden" id='listening_time' class='listening_time' name='listening_time' value="">
		                        
		                        <input type='hidden' class='liste2' name='liste2' value="{{l}}">
		                        <br/> 
		                        <input type='hidden' class='queue' name='queue' value="None"> 
		                        
		                        <span  class="label label-custom2" >1.</span>
		                        <span id='titre_1' class="label label-custom2" name='titre_1'>empty</span>
		                        <br/>
		                        <span  class="label label-custom2" >2.</span>
		                        <span id='titre_2' class="label label-custom2" name='titre_2'>empty</span>
		                        <br/>
		                        <input type='hidden' id='titre_1' class='titre_1' name='titre_1' value="empty">
		                        <br/> 
		                        <input type='hidden' id='titre_2' class='titre_2' name='titre_2' value="empty"> 
		                        <br/> 
		                        <!--<input type="hidden" id="next_song" name="next_song" value="time"> -->
		                      
		                      <button id='load2' class="btn btn-custom2 btn-sm" >
		                       <span class="glyphicon glyphicon-expand" aria-hidden="true"></span>
		                      <!-- <br/>  -->
		                       Play                
		                      </button>
		                      
		   </form>           

		   <button id='unload' class="btn btn-custom2 btn-sm" >
								<span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span>
								<!-- <br/> -->
								 clear 		
		  					  </button> 
			  <button type="button" class="btn btn-custom2 btn-sm" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Load one or     
two songs 
from bottom 
recomendations">
				  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
			</button>

		  					
		  					 
  
</div>                               

		   					







{% endblock  %}




		<!-- <div class="col-sm-3 col-md-3 col-lg-3 col-sm-push-2 col-md-push-2 col-lg-push-3">
		<button type="button" class="btn btn-lg btn-custom3" data-toggle="modal" data-target="#myModal">Instructions</button>
		</div>

		<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      
      <div class="modal-content">
        <div class="modal-header" id='grad1'>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title">Instructions</h3>
        </div>
        <div class="modal-body">
          <h2>Welcome to the song page !</h2>
          <br/>
          <ul>
          <li>You can listen to the songs with the Audio Player panel (red)</li>
          <li>Lyrics are included, give it a try !</li>
          <li>Please rate the songs and also brainstorm :)</li>
          <li>For choosing next songs, refer to the info sign below</li>
          </ul>
          <br/>

                                          <p>Enjoy!</p>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div> -->