<!DOCTYPE HTML>


<html>
  <head>
    <meta charset="utf-8"> 
   
    <title>Listening {{track.track_name}}</title>
    {% load staticfiles %}
    {% load static %}

    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.css" rel="stylesheet" media="screen">  
    
    
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css"> 

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  


    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-rating/1.4.0/bootstrap-rating.min.css"></script> 
    <!-- bootstrap -->

    <!-- jquery UI-->
     

   
   

      
     
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.min.css" integrity="sha256-4qBzeX420hElp9/FzsuqUNqVobcClz1BjnXoxUDSYQ0=" crossorigin="anonymous" /> 

    
    <!-- <link rel="stylesheet" href="{% static 'css/tokenfield-typeahead.min.css' %}"> -->
     
      
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/tokenfield-typeahead.min.css" integrity="sha256-wjzCZMOsihqVFmuuKOTcseOy9q46Q7VqMTktUoWDilw=" crossorigin="anonymous" />
      
     <!-- tokenfield-->
  
  <link rel="stylesheet" href="{% static 'css/main.css' %}" media="screen">
  <style>
  audio::-internal-media-controls-download-button {
    display:none;
}

audio::-webkit-media-controls-enclosure {
    overflow:hidden;
}

audio::-webkit-media-controls-panel {
    width: calc(100% + 30px); 
}


  </style>
  </head>
  <body>

{% block nav_bar %}
{% endblock  %}


<!-- HEAD TITLE -->
<h1>  {{track.Artist}} - {{track.track_name}} </h1>
<div id='TRACK' style="display:none">{{track.track_pseudo}}</div>


       
    
<br/>
<br/>
<div class='row'>



<div class="col-sm-4 col-md-4 col-lg-4">
 	
 	<div class='col-sm-1 col-md-1 col-lg-1'> </div>

 	<div class="col-sm-10 col-md-10 col-lg-10">

		 <img src={{track.Album_cover}}  class="img-thumbnail" alt="artist image"> 
		 <br/>
		 <br/>



				 

				 
		 				
						<div class='row' id='player1'>
						
							<h2><span class="glyphicon glyphicon-headphones"></span> Audio Player</h2>
							


							<br/>
								
									<!-- <audio id="myAudio" ontimeupdate="update(this)" controls="controls">
									{% with 'music/'|add:track.track_link|add:'.mp3' as sound_static %}
									<source src="{% static sound_static %}" type="audio/mpeg">
									{% endwith %}
									</audio>
									<br/> -->

									<audio id="myAudio" ontimeupdate="update(this)" controls="controls">
									{% with 'https://s3.ca-central-1.amazonaws.com/music-rec/'|add:track.track_link|add:'.m4a' as sound_static %}
									<source src="{{sound_static}}" type="audio/mpeg">
									{% endwith %}
									</audio>
									<br/> 
								
											 

						</div>
						<br/>
						<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> 	 
	 	<span class="label label-danger" id='star'>Song Rating: {{track.track_popularity| floatformat:2}}/5.00</span>


			</div>		
</div>	


											
		
		
		<div class="col-sm-4 col-md-4 col-lg-4" id='wcloud'>

		
		
		



			 

	 
	 	

	 	<div class="col-sm-9 col-md-9 col-lg-9">
	 	
	 	{% with 'wcloud_pictures/'|add:track.track_pseudo|add:'.jpg' as image_static %}
		<img src="{% static image_static %}"  id='wcloud_picture1' alt="Be the first to brainstorm" style="width:100%" />
		{% endwith %}
		<h4> <span class="label label-default">most frequent tag words used </span></h4>	
		 <!-- <table class="table  table-inverse table-responsive"> -->
		  <table class="table table-inverse">
					  <thead>
					  <tr> <th colspan="3" class='title'><h3><strong>About the track</strong></h3></th>  
					  </tr>
					    <tr>   
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <th scope="row">Album </th>
					      <td class='cell_hvr'>{{track.Album_name}}   </td>      
					    </tr>					    				    					    
					    <tr>
					      <th scope="row">Track</th>
					      <td class='cell_hvr'>  {{track.track_name}}  </td>  
					    </tr>
					    <th scope="row">Genre</th>
					      <td class='cell_hvr'>  {{track.track_genre}}  </td>  
					    </tr>
					    <tr>
					      <th scope="row">Artist</th>
					      <td class='cell_hvr'> {{track.Artist}}  </td>  
					    </tr>
					    <tr >
					      <th scope="row">Artist rating</th>
					      <td class='cell_hvr'> {{track.Artist_popularity| floatformat:0}}   </td>     
					    </tr>
					    <tr>
					      <th scope="row">Featuring</th>
					      <td class='cell_hvr'> {{track.featuring}}  </td>
					    </tr>
					  </tbody>
					</table>
					<br/>
		
		</div>					
					

					

						

	 	<br/>
	 	<br/>
	 	<br/>
	 	<br/>
	 	<br/>
	 	
	 	<br/>
	 	

	 		


			

					
	 	
	 			<!-- 	<div class="col-sm-4 col-md-4 col-lg-4"> -->
			
		
					   
						  
			<!-- </div> -->	
<!-- <button  onclick="getCurTime()">Get current time position</button>
<button onclick="myFunction()" type="button">Get video length</button><br> -->
	 		 
		</div>


<div class="col-sm-4 col-md-4 col-lg-4">


	<div class="col-sm-10 col-md-10 col-lg-10 ">


	 			 
		  		<!-- <div class="panel panel-custom" >
							        <div class="panel-heading" id='grad1'><h4>Lyrics  <button id='hide2' class='btn btn-custom2'>hide</button> <button id='show' class='btn btn-custom2'>show</button></h4></div>		

									     <div class="panel-body" id='lyrics'>

											                		<div class="col-sm-4 col-md-4 col-lg-4" >
											                
											                        <div class='lyrics' >
											                        lyrics
											                        </div> 
											                        </div>  
											                  
											<input type="hidden" id="lyrics_var" name="lyrics_var" value="{{track.track_link}}">
			    						</div>
			               
			    </div> 
 -->

						{% if  has_yet_rated  %}

				
				<h3> you have rated this song {{REVIEW.rating| floatformat:0}} stars </h3>

			


								{% else  %}
							 
							
							<div class='row' id='rating3'>
							
							<div class="panel-heading" id ='rating4'><h2>Give us your opinion</h2></div>
								 
								<!-- <form id='form_rate' class='form-horizontal' action='' method='post'>
										{% csrf_token %} -->
										{%  if Wrong %}
						             	<h4><strong> Please give a rating</strong></h4>
						             	{%  endif %}
						             	<h5> Rate the song: </h5>
						             	<input type="hidden"  class='time_before_rated' name='time_before_rated' value="0">
										<input type="hidden" name='rating' class="rating" data-filled="glyphicon glyphicon-heart custom-heart" data-empty="glyphicon glyphicon-heart-empty custom-heart" />	   
										<span id='heart-rate' class="label label-danger"></span>

										  <br/>
										  
										 <h5> This song makes me think of: </h5>

											<input  type="text" name='wordcloud' class="wordcloud" id="tokenfield"  placeholder='brainsorm here'/>
											<br/>
											<div class='col-sm-offset-4 col-sm-10'>
													<button type='submit' class="btn btn-lg btn-custom2" id='submit'> Submit</button>
											</div>
											 <br/>
											 
								<!-- </form> -->
								<button type="button" class="btn btn-custom2"  data-toggle="tooltip" data-placement="bottom" title="Write any words
that come 
to your mind
when listening 
this songs">
									  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
								</button>
								 
								
						 			</div> 
								



								{% endif  %}

		  			 {% block in_queue %}
					{% endblock  %}

					{% block in_queue2 %}
					{% endblock  %}
		
		

	</div>	






		
	



		
		</div>
</div>
<br/>









<div class='row'>



			  <div class="col-sm-4 col-md-4 col-lg-4 ">
			  	
			  	
	
					
			  	
			  	
			  	<br/>
			  	<br/>

			

				<br/>
					</div>




			
						





			  </div>

 

<br/>

<br/>








 
<div class="container2">                   
{%  block recommendations  %}
{% endblock %}
</div>


<script>
$(document).ready(function(){
   
 $('[data-toggle="tooltip"]').tooltip()

});
</script>          

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>





<script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>


<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
 



<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.min.js"></script>


<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-rating/1.4.0/bootstrap-rating.min.js" integrity="sha256-2f3IfcCoAqV8FwRQhw1v/r4MLDQ1A3TQiYGtRUfW/l8=" crossorigin="anonymous"></script>
<!-- rating -->
 
{% if base_2  %}
<script type='text/javascript' src="{% static 'js/fiche_track2.js' %}"></script>   


{% else  %}
<script type='text/javascript' src="{% static 'js/fiche_track.js' %}"></script>   
{% endif %}

{% if has_just_commented %}

<script>
var y = document.getElementById("myAudio");
y.currentTime={{time_before}};
</script>

{% endif %}
          
 </body>
</html>