<!DOCTYPE HTML>


<html>
  <head>
    <meta charset="utf-8"> 
   
    <title>Listening {{track.track_name}}</title>
    {% load staticfiles %}
    {% load static %}

    <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.css" rel="stylesheet" media="screen">  
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src= https://cdnjs.cloudflare.com/ajax/libs/bootstrap-rating/1.4.0/bootstrap-rating.min.css></script> 
    <!-- bootstrap -->

    <!-- jquery UI-->
     
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha256-rByPlHULObEjJ6XQxW/flG2r+22R5dKiAoef+aXWfik=" crossorigin="anonymous" />  -->
   
   <!--
    <link rel="stylesheet" href="{% static 'css/bootstrap-tokenfield.min.css' %}">
      -->
     
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.min.css" integrity="sha256-4qBzeX420hElp9/FzsuqUNqVobcClz1BjnXoxUDSYQ0=" crossorigin="anonymous" /> 

    <!--
    <link rel="stylesheet" href="{% static 'css/tokenfield-typeahead.min.css' %}">
     -->
      
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/tokenfield-typeahead.min.css" integrity="sha256-wjzCZMOsihqVFmuuKOTcseOy9q46Q7VqMTktUoWDilw=" crossorigin="anonymous" />
      
     <!-- tokenfield-->
  
  <link rel="stylesheet" href="{% static 'css/main.css' %}" media="screen">
  <style>
  audio::-internal-media-controls-download-button {
    display:none;
}

audio::-webkit-media-controls-enclosure {
    overflow:hidden;
}

audio::-webkit-media-controls-panel {
    width: calc(100% + 30px); 
}

  </style>
  </head>
  <body>

{% block nav_bar %}
{% endblock  %}


<!-- HEAD TITLE -->

 <h1>  {{track.Artist}} - {{track.track_name}}</h1>


 
<div>
 <img src={{track.Album_cover}}  class="img-thumbnail" alt="artist image"> 



  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> 


  {{track.track_popularity| floatformat:2}}



<br/>



<audio id="myAudio" ontimeupdate="update(this)" controls="controls">
{% with 'music/'|add:track.track_link|add:'.mp3' as sound_static %}
<source src="{% static sound_static %}" type="audio/mpeg">
{% endwith %}
</audio>




<button onclick="getCurTime()">Get current time position</button>
<button onclick="myFunction()" type="button">Get video length</button><br>





fraction
<p id='lol2'>0</p>


{% with 'wcloud_pictures/'|add:track.track_pseudo|add:'.jpg' as image_static %}
<img src="{% static image_static %}" alt="My image" style="width:30%" />
{% endwith %}




  <div class="panel panel-custom" id='grad1'>
        <div class="panel-heading"><h4>Lyrics  <button id='hide' class='btn btn-custom2'>hide</button> <button id='show' class='btn btn-custom2'>show</button></h4></div>
    <div class="panel-body">
                <div id="conteneur">
                        <div class="element1">
                        <div class="progress progress-bar-vertical">
                            <div  class='progress-bar progress-bar-success progress-bar-striped active' role="progressbar">Pas de lecture</div>
                        </div>
                        </div>
                
                        <div class="element">
                        <div class='lyrics' id='lyrics'>
                        lyrics
                        </div> 
                        </div>   
                </div> 


    </div>
    
  </div>
  <!-- lyrics variable -->
<input type="hidden" id="lyrics_var" name="lyrics_var" value="{{track.track_link}}">

<br/>
{% block form %}
rating form
{% endblock  %}
<br/>
<br/>
<br/>







<br/>

<br/>
  <!-- 
// TABLE INFORMATION -->
  <table class="table    table-inverse table-responsive">
  <thead>
  <tr> <th colspan="2" class='title'><h3><strong>About the track</strong></h3></th>  
  </tr>
    <tr>  
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Album </th>
      <td class='cell_hvr'>{{track.Album_name}}   </td>
      
      
    </tr>
     <tr>
      <th scope="row">Artist</th>
      <td class='cell_hvr'> {{track.Artist}}  </td>
     
    </tr>
    <tr>
      <th scope="row">Featuring</th>
      <td class='cell_hvr'> {{track.featuring}}  </td>
     
    </tr>
    <tr >
      <th scope="row">Artist popularity</th>
      <td class='cell_hvr'> {{track.Artist_popularity| floatformat:0}}   </td>
      
      <td></td>
    </tr>
    <tr>
      <th scope="row">name</th>
      <td class='cell_hvr'>  {{track.track_name}}  </td>
     
    </tr>
   
  </tbody>
</table>


<br/>


{% block in_queue %}

{% endblock  %}

{% block in_queue2 %}

{% endblock  %}

                                
{%  block recommendations  %}
{% endblock %}
                   

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!--
<script type='text/javascript' src="{% static 'js/jquery-ui.min.js' %}"></script>
-->

<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
      
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
 <!--
<script type='text/javascript' src="{% static 'js/bootstrap-tokenfield.min.js' %}"></script>  
-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.min.js"></script>
<!--
<script type='text/javascript' src="{% static 'js/bootstrap-rating.min.js' %}"></script> 
-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-rating/1.4.0/bootstrap-rating.min.js" integrity="sha256-2f3IfcCoAqV8FwRQhw1v/r4MLDQ1A3TQiYGtRUfW/l8=" crossorigin="anonymous"></script>
<!-- rating -->
 <script type='text/javascript' src="{% static 'js/fiche_track.js' %}"></script>   
{% if base_2  %}
<script type='text/javascript' src="{% static 'js/fiche_track2.js' %}"></script>   

{% endif %}

{% if has_just_commented %}

<script>
var y = document.getElementById("myAudio");
y.currentTime={{time_before}};
</script>

{% endif %}
          
    </body>
</html>