{% extends "fiche_track_base.html" %}

{% block nav_bar %}


<nav class="navbar navbar-default">
  <div class="container-fluid">
 
    <ul class="nav navbar-nav navbar-right">
      <li class="active">
       
	       <form id='home' class='form-horizontal' action=""  method='post'>
				  {% csrf_token %}
				  <input type='hidden' class='liste' name='liste' value="{{l}}">
				  <input type="hidden"  class='percentage2' name='percentage2' value="">
				  <input type="hidden"  class='listening_time2' name='listening_time2' value="">
				 <!--  <button id='home' class='btn btn-warning'>Back home</button> -->
				  <button class="btn btn-warning btn-md">
				    <span class="glyphicon glyphicon glyphicon-home" aria-hidden="true"></span> 
				    
				     home
				  </button> 
		 </form>   
      </li>
  

     
          <li>
     
           <form action="/m/logout" method="post">
            
                {% csrf_token %}
                 <button class="btn btn-danger btn-md">
                     <span class="glyphicon glyphicon glyphicon-off" aria-hidden="true"></span> 
                   
                   logout
                   
                   </button>  
                   
               
            </form>

      </li>
      </ul>



    
  </div>
</nav>

<br/>
<br/>










{% endblock  %}




{% block home_button %} 

<br/>
  <form id='home' class='form-horizontal' action="{% url 'homepage'%}"  >
  {% csrf_token %}
  <button id='home' class='btn btn-info'>Back home without record</button>
</form>

 {% endblock  %}






{% block name %} {{track.Artist}} - {{track.track_name}} {% endblock %}


{% block artist_image %} {{track.Album_cover}}{% endblock  %}

{% block Artist_popularity %} {{track.Artist_popularity| floatformat:0}} {% endblock  %}


{% block lyrics %} lyrics {% endblock  %}
<!--
{{track.lyrics|safe}}
-->

{% block album %} {{track.Album_name}} {% endblock  %}

{% block track_popularity %} {{track.track_popularity| floatformat:2}} {% endblock  %} 

{% block track_name %} {{track.track_name}} {% endblock  %}

{% block artist %} {{track.Artist}} {% endblock  %}



{% block form %}
		{% if  has_yet_rated  %}

		
		<p> you have rated this song {{REVIEW.rating}} </p>

	


		{% else  %}
	 
		
		<form id='form_rate' class='form-horizontal' action='' method='post'>
				{% csrf_token %}
				{%  if Wrong %}
             	<h3><strong> Please give rate</strong>></h3>
             	{%  endif %}
             	<input type="text"  class='time_before_rated' name='time_before_rated' value="">
				<input type="hidden" name='rating' class="rating" data-filled="glyphicon glyphicon-heart custom-heart" data-empty="glyphicon glyphicon-heart-empty custom-heart" />	   
				<span id='heart-rate' class="label label-danger"></span>

				  <br/>
				  <br/>
				 <p> Tells us what do you think about this song: </p>

					<input  type="text" name='wordcloud' class="wordcloud" id="tokenfield"  placeholder='brainsorm here'/>

					<div class='col-sm-offset-2 col-sm-10'>
							<button type='submit' class="btn btn-success"> Submit</button>
					</div>
		</form>
		



		{% endif  %}		
{% endblock  %}





{% block wordclouod_form %}


{% endblock  %}



{%  block recommendations  %}

								{% for x in liste %}
								<!-- rate de la chanson -->
										<input type="hidden" class='song_rate' id="song_rate" name="song_rate" value="{{ x.track_popularity }}">

		                            <div id='element_{{forloop.counter0}}' class="element">
		                                  <h4> {{ x.Artist}} - {{ x.track_name}} </h4>
		                                  
		                                  <img src="{{ x.Artist_image}}" class='img-circle' alt="photos of the artist" > 
		                                  <br/>
		                                  

				   						    <input type="hidden" class="rating2" data-filled="glyphicon glyphicon-heart custom-heart" data-empty="glyphicon glyphicon-heart-empty custom-heart" data-readonly data-fractions="3"  value=4/>	
				   						    <br/>	                                  	   
				   							<span id='{{forloop.counter0}}' class="label label-danger">{{ x.track_popularity }}</span>

				   							
				   							<br/>		
				   							<br/>		   			

				   					 	 <form id='swtich_page_{{forloop.counter0}}' class='swtich_page' action='' method='post'>
				   							{% csrf_token %}	
				   						    
				   						
				   							<input type="text" class='next_song' name='next_song' value="{{x.track_pseudo}}"> 
				   							<input type="text" class='next_song_{{forloop.counter0}}' value="{{x.track_pseudo}}"> 
				   							


				   						<br/>
				   				



		                                    
										</form>  

										<button id='queue_{{forloop.counter0}}' class="btn btn-warning btn-sm" >
				   						<span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
				   						<br/>
				   						 In-Queue		
                      					</button>


                      					
		                                  
		                                 
		                                  
		                                  <br/>
		                            </div>
		                        {% endfor %}
{% endblock %}






 

 

{% block in_queue %}

 <div>
<h1>Queue:</h1>
  <form id='swtich_page2' class='swtich_page2' action="" method='post'>
                        {% csrf_token %}  
                          <!--  sending variables to django -->
                          percentage
                        <input type="text" id='percentage' class='percentage' name='percentage' value="">
                        <br/>
                        length
                        <input type="text" id='listening_time' class='listening_time' name='listening_time' value="">
                        <br/>
                        <input type='text' class='liste2' name='liste2' value="{{l}}">
                        <br/> 
                        <input type='text' class='queue' name='queue' value="None"> 
                        <br/> 
                        <span  class="label label-info" >1.</span>
                        <span id='titre_1' class="label label-info" name='titre_1'>empty</span>
                        <br/>
                        <span  class="label label-info" >2.</span>
                        <span id='titre_2' class="label label-info" name='titre_2'>empty</span>
                        <br/>
                        <input type='text' id='titre_1' class='titre_1' name='titre_1' value="empty">
                        <br/> 
                        <input type='text' id='titre_2' class='titre_2' name='titre_2' value="empty"> 
                        <br/> 
                        <!--<input type="hidden" id="next_song" name="next_song" value="time"> -->
                      <br/>
                      <button id='load2' class="btn btn-default btn-sm" >
                       <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
                      <br/> 
                       Play                
                      </button>
   </form>

                     

                                        
 

   					<button id='unload' class="btn btn-danger btn-sm" >
						<span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span>
						<br/>
						 clear queue		
  					  </button>



<div>

{% endblock  %}