{% extends "fiche_track_base.html" %}


{% block nav_bar %}


<nav class="navbar navbar-custom" id='grad1'>
  <div class="container-fluid">
 
    <ul class="nav navbar-nav navbar-right">
         <li class="active">
        <button class="btn btn-custom btn-md" id='feedback'>
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> 
            Feedback 
            </button>
        </li>
      <li class="active">
       
           <form id='home' class='form-horizontal' action=""  method='post'>
            {% csrf_token %}
            
            <input type="hidden"  class='percentage2' name='percentage2' value="">
            <input type="hidden"  class='listening_time2' name='listening_time2' value="">
            <input type="hidden"  class='home' name='home' value="home">
           <!--  <button id='home' class='btn btn-warning'>Back home</button> -->
            <button class="btn btn-warning btn-md">
              <span class="glyphicon glyphicon glyphicon-home" aria-hidden="true"></span> 
              
              home
            </button> 
           </form>  
      </li>
  

     
          <li>
     
          <form id='logout' action="" method="post">
            
                {% csrf_token %}
                <input type='hidden' class='liste3' name='liste3' value="{{l}}">
                <input type="hidden"  class='percentage2' name='percentage2' value="">
                <input type="hidden"  class='listening_time2' name='listening_time2' value="">
                 <button class="btn btn-custom btn-md">
                     <span class="glyphicon glyphicon glyphicon-off" aria-hidden="true"></span> 
                   logout       
                   </button>  
                   
               
            </form>

          </li>
    </ul>



    
  </div>
</nav>


{% endblock  %}









 

{% block in_queue2 %}

 
 <div class="col-sm-12  col-md-12  col-lg-12 " id='queue__'>
    <h1><span class="glyphicon glyphicon-expand"></span> Next song</h1>

        <form id='solo' class='solo' action="" method='post'>
                              {% csrf_token %}  
                                <!--  sending variables to django -->
                                
                              <input type="hidden" id='percentage' class='percentage' name='percentage' value="">
                              
                              
                              <input type="hidden" id='listening_time' class='listening_time' name='listening_time' value="">
                                       
                              <br/> 
                              
                              <span id='artist' class="label label-custom2" name='artist'>{{track2.Artist}}</span>
                              <span id='next_song' class="label label-custom2" name='next_song'>{{titre_2}}</span>
                              <br/>
                              <img src= {{track2.Artist_image}} class="img-circle" alt="artist image"> 
                              <br/>
                              <!-- <span id='titre_2' class="label label-info" name='titre_2'>empty</span> -->
                              <input type='hidden' id='next_song' class='next_song' name='solo' value={{titre_2}}>
                              <br/> 

                            <br/>
                            <button id='load3' class="btn btn-custom2 btn-sm" >
                             <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
                            
                             Play                
                            </button>
                            <br/> 

         </form>
          </button> 
           

</div>


{% endblock %}