<!DOCTYPE HTML>


<html>

  <head>
    <meta charset="utf-8"> 
   
    <title>Listening {{track.track_name}}</title>
    {% load staticfiles %}
    {% load static %}
 
    <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.css" rel="stylesheet" media="screen">  
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src= https://cdnjs.cloudflare.com/ajax/libs/bootstrap-rating/1.4.0/bootstrap-rating.min.css></script> 
    <!-- bootstrap -->

    <!-- jquery UI-->
   
   
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
       
     
 <!--   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha256-rByPlHULObEjJ6XQxW/flG2r+22R5dKiAoef+aXWfik=" crossorigin="anonymous" />  -->
   
      <!--
    <link rel="stylesheet" href="{% static 'css/bootstrap-tokenfield.min.css' %}">
      -->
     
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.min.css" integrity="sha256-4qBzeX420hElp9/FzsuqUNqVobcClz1BjnXoxUDSYQ0=" crossorigin="anonymous" />
   

    <!--
    <link rel="stylesheet" href="{% static 'css/tokenfield-typeahead.min.css' %}">
     -->
      
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/tokenfield-typeahead.min.css" integrity="sha256-wjzCZMOsihqVFmuuKOTcseOy9q46Q7VqMTktUoWDilw=" crossorigin="anonymous" />
      
     <!-- tokenfield-->
      


  <link rel="stylesheet" href="{% static 'css/main3.css' %}" media="screen">
      
  </head>
  <body>

   {% block nav_bar %}

{% endblock  %}


  <h1>  {% block name %} track name {% endblock  %}</h1>


 
<div>
 <img src= {% block artist_image %} artist image {% endblock  %} class="img-thumbnail" alt="artist image"> 



  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> 


  {% block track_popularity %}  Track popularity {% endblock  %} 
 
 {% block home_button %}  
 
 back home button


 {% endblock  %} 


<audio id="myAudio" ontimeupdate="update(this)" controls="controls">
 
{% with 'music/'|add:track.track_link|add:'.mp3' as sound_static %}
<source src="{% static sound_static %}" type="audio/mpeg">
{% endwith %}

</audio>
<button onclick="getCurTime()" >Get current time position</button>
<button onclick="myFunction()" type="button">Get video length</button><br>






fraction
<p id='lol2'>2</p>







{% with 'wcloud_pictures/'|add:track.track_pseudo|add:'.png' as image_static %}
<img src="{% static image_static %}" alt="My image"/>
{% endwith %}




  <div class="panel panel-info">
        <div class="panel-heading">Lyrics  <button id='hide' class='btn btn-warning'>hide</button> <button id='show' class='btn btn-success'>show</button></div>
    <div class="panel-body">
                <div id="conteneur">
                        <div class="element1">
                        <div class="progress progress-bar-vertical">
                            <div  class='progress-bar progress-bar-success progress-bar-striped active' role="progressbar">Pas de lecture</div>
                        </div>
                        </div>
                
                        <div class="element">
                        <div class='lyrics' id='lyrics'>
                        lyrics
                        </div> 
                        </div>   
                </div> 


    </div>
    
  </div>
  <!-- lyrics variable -->
<input type="hidden" id="lyrics_var" name="lyrics_var" value="{{ track.track_link }}">

<br/>
{% block form %}
rating form
{% endblock  %}
<br/>
<br/>
<br/>

</div>
<br/>
<br/>

{% block wordclouod_form %}
 word cloud form
{% endblock  %}
<br/>

<br/>
  
 <table class="table    table-inverse table-responsive">
  <thead>
  <tr> <th colspan="2" class='title'><h3><strong>About the track</strong></h3></th>  
  </tr>
    <tr>  
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Album </th>
      <td class='cell_hvr'>{% block album %} album name {% endblock  %}  </td>
      
      
    </tr>
     <tr>
      <th scope="row">Artist</th>
      <td class='cell_hvr'> {% block artist %} track genre {% endblock  %} </td>
     
    </tr>
    <tr >
      <th scope="row">Artist popularity</th>
      <td class='cell_hvr'>{% block Artist_popularity %} artist popularity {% endblock  %}  </td>
      
      <td></td>
    </tr>
    <tr>
      <th scope="row">name</th>
      <td class='cell_hvr'> {% block track_name %} track name {% endblock  %} </td>
     
    </tr>
   
  </tbody>
</table>

<br/>


{% block in_queue %}

{% endblock  %}
<!--
<script>

  


</script>

       
-->

                                
   

             

 

 



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!--
<script type='text/javascript' src="{% static 'js/jquery.js' %}"></script>
-->

<!--
<script type='text/javascript' src="{% static 'js/jquery-ui.min.js' %}"></script>
-->

<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

      
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>

 <!--
<script type='text/javascript' src="{% static 'js/bootstrap-tokenfield.min.js' %}"></script>  
-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.min.js"></script>

<!--
<script type='text/javascript' src="{% static 'js/bootstrap-rating.min.js' %}"></script> 
-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-rating/1.4.0/bootstrap-rating.min.js" integrity="sha256-2f3IfcCoAqV8FwRQhw1v/r4MLDQ1A3TQiYGtRUfW/l8=" crossorigin="anonymous"></script>

<!-- rating -->
 <script type='text/javascript' src="{% static 'js/mon-script2.js' %}"></script>   
 
          
    </body>
</html>