{% extends "base.html" %}


{% block nav_bar %}


<nav class="navbar navbar-default">
  <div class="container-fluid">
 
    <ul class="nav navbar-nav navbar-right">

  
          <li>
     
           <form action="/m/logout" method="post">
            
                {% csrf_token %}
                 <button class="btn btn-danger btn-md">
                     <span class="glyphicon glyphicon glyphicon-off" aria-hidden="true"></span> 
                   
                   logout
                   
                   </button>  
                   
               
            </form>

      		</li>
     </ul>



    
  </div>
</nav>

<br/>
<br/>






{% endblock  %}

















{% block content %}
<br/>
<br/>
 <h1>  Profil of {{username}} </h1>
<br/>
<br/>
{% if user.is_authenticate %}

<h2><font color="white">Now Let's edit your profile: </font></h2>
{% endif %}


	<div class='row'>
	<div class='panel panel-info'>
		<div class="panel-heading">Informations</div>
		
		
			<div class='panel-body'>
					<form class='form-horizontal' action='' method='post'>
						{% csrf_token %}			

						<!--	
						<select id="id_age" name="age" class="form-control">
							  <option>'1'</option>
							  <option>'2'</option>
							  <option>'3'</option>
							  <option>'4'</option>
							  <option>'5'</option>
							  <option selected>Domestic Dog</option>
							  <option value="third option">Option 3</option>
						</select>

						<select id="id_region" name="region" class="form-control">
							  <option>'1'</option>
							  <option>'2'</option>
							  
						</select>

						<select id="id_area" name="area" class="form-control">
							  <option>'1'</option>
							  <option>'2'</option>
							  
						</select>
						//-->				
						
						{% for field in form %}						
						<div class='form-group'>
								<div class='col-sm-offset-2 col-sm-10'>
									<span class='text-danger'> {{field.errors}} </span>
								</div>
								<label class='control-label' >{{field.label_tag}} </label>

								<div  id='valeur' class='col-md-10'>{{field}}  </div>								
						</div>

						{% endfor %}
						
						
						<div class='col-sm-offset-2 col-sm-10'>
								<button type='submit' class="btn btn-success"> Submit </button>
						</div>
					</form>
			</div>
		</div>
		</div>
	</div>

		
<script src="profil_script.js"></script> 	



{% endblock %}
