{% extends "base.html" %}


{% block nav_bar %}
<nav class="navbar navbar-custom" id='grad1'>
  <div class="container-fluid">
     <ul class="nav navbar-nav navbar-right">
      <li class="active">     
       <form action="/home" method="get">
             
            <input type="hidden"  name='profil' value="0">
            <button class="btn btn-custom btn-md" id="homee">
              <span class="glyphicon  glyphicon glyphicon-home" aria-hidden="true"></span>               
                    Home
            </button>  
      
    	</form>         
      </li>
      <li>
         <form action="/change_password" method="get">
                               
                <button class="btn btn-custom btn-md" id='homee2'>
                reset    
                password</button>
            </form>
            </li>
  
      </ul> 
  </div>
</nav>
{% endblock  %}

















{% block content %}



						<h2 class='uncomplete_form'>   </h2>
						

<table class="table    table-inverse table-responsive">
  <thead>
  <tr> <th colspan="2" class='title'><h3><strong>your settings</strong></h3></th>  
  </tr>
    <tr>  
     
    </tr>
  </thead>
  <tbody>
    
     <tr>
      <th scope="row">sex</th>
      <td class='sexx'><div class='sex' id='sex' >{{pp.sex}}</div> </td>
     
    </tr>
    <tr>
      <th scope="row">age </th>
      <td class='age'><div class='age' id='age'>{{pp.age}}</div></td>
      
      
    </tr>
    <tr >
      <th scope="row">region</th>
      <td class='region'><div class='region' id='region'>{{pp.region}}</div></td>
      
      <td></td>
    </tr>
    <tr>
      <th scope="row">area</th>
      <td class='area'><div class='area' id='area'>{{pp.area}}</div></td>
     
    </tr>
  </tbody>
</table>
<button type='submit' id='change_settings' class="btn btn-danger"> Click here to update</button>
<button type='submit' id='cancel' class="btn btn-custom2"> Cancel</button>
						

						<div class="panel panel-custom" id='cc' style="width:35%">
						

						<div class="panel-heading" id='grad1'> <h1> Profil  </h1>  </div>
						<div class="panel-body">
						 <div id="conteneur">
							<form id='form_rate' class='form-horizontal' action='' method='post'>
							{% csrf_token %}
						<div class='row'>	
						<h5>sex:</h5>
						  <select id="id_sex" name="sex" class="form-group" style="width:40%">
							  <option value="M">M</option>
							  <option value="F">F</option>
						</select>	
						</div>

						<div class='row'>  
						<h5>your age range:</h5>
						<select id="id_age" name="age" class="form-group" style="width:40%">

							  
							  <option value="under 20">under 20</option>
							  <option value="20-25">20-25</option>
							  <option value="26-30" >26-30</option>
							  <option value="31-40" >31-40</option>
							 

						</select>
						</div>

						<div class='row'>
						<h5>region where you live:</h5>
						<select id="id_region" name="region" class="form-group" style="width:40%">
							  <option value="Africa">Africa</option>
							  <option value="Asia">Asia</option>
							  <option value="Europe">Europe</option>
							  <option value="Middle-East">Middle-East</option>
							  <option value="Oceania">Oceania</option>
							  <option value="North-America">North-America</option>
							  <option value="South-America">South-America</option>
						</select>
						</div>
						
						
							
							<div class='row'>
							<h5>professional area:</h5>
							<select id="id_area" name="area" class="form-group" style="width:40%">
							  
							  <option value="Agriculture And Env. Sciences">Agriculture And Env. Sciences</option>
							  <option value="Arts">Arts</option>
							  <option value="Education">Education</option>
							  <option value="Engineering">Engineering</option>
							  <option value="Health">Health</option>
							  <option value="Law">Law</option>
							  <option value="Literature">Literature</option>
							  <option value="Management">Management</option>
							  <option value="Music">Music</option>
							  <option value="Science">Science</option>
							  <option value="Other">Other</option>
							  
							</select>
							</div>
							
							  <br/>
							  <br/>
							 <div class='row'>
							<button type='submit' class="btn btn-custom" id="changes" style="width:40%"> Submit</button>
							 </div>
						</form>
						</div>
						</div>
						</div>
					
						




		



{% endblock %}
