{% extends "base.html" %}

{% block content %}

<br/>
<br/>
<h1>  Welcome {{username}}! </h1>
<br/>
{% if user.is_authenticated %}
<h1>  You are now registered !</h1>
<br/>
<br/>
{% endif %}
<br/>

<br/>

<div class='row'>
<div class="  col-md-offset-4 col-md-6">
<h2><font color="white"> Let's edit your profile: </font></h2>
</div>
</div>

 <div class="  col-md-offset-4 col-md-6">
        
            <form action="/m/profil" method="post">
            {% csrf_token %}
                
            <button style="width:90px" class="btn btn-info">Edit profil</button>
            </form>
 </div>


{% endblock %}