.tokenfield .token{
color:white;
background-color:grey;

font-weight:bold;



}
.ui-menu 
{
background-color:white;
color:black;
width:300px;


}
.close
{
    color:white;
}
#conteneur
 {
    display: flex;
    justify-content: space-around;

  
 }
 #listening_time
 {
    background-color:yellow; 
  
 }

 
 

.glyphicon-heart{
	font-size:2.5em;

}
.glyphicon-heart-empty
{
   font-size:2.5em; 
}

.custom-heart {
       
 color: red;
  }
 .label
 {
 	font-size:15px;
    
 }

.glyphicon-star-empty {

color:#b0c619;
font-size: 80px;
text-align:center;
}
#star
{
   background-color:#b0c619; 
   color:black;
}

.cell_hvr:hover {
        background-color: grey ;
}

/*.progress-bar-vertical {

-webkit-transform: rotate(90deg);
transform: rotate(90deg);
width: 4000%;
position:relative;
bottom:1280px;
right:1285px;


  
}
#myProgress
{
    border:solid black;
}*/

#grad1 
 {
    
    background: #47484a; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-90deg,#92909a, #2f353f); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg,#92909a, #2f353f); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg,#92909a, #2f353f); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg,#92909a, #2f353f); /* Standard syntax (must be last) */
}
body
{
    background-image:url("metal_wallpaper.jpg");
}

.btn
{
    border:2px solid black;
    background-color:transparent;
    color:black;
}

.btn:hover
{
    background-color:yellow;

}
h3
{
    color:white;
}
h4 
{
    color:white;

}
h1
{
    color:white;
    text-align:center;
}
h2
{
 text-align:center;
 color:white;

}
h5
{
color:#b0c619;  
}
.btn-custom2
{
    border:2px white solid;
    background-color:transparent;
    color:white;
}
.btn-custom3
{
    border:4px solid white;
    background-color:red;
    color:white;
}

p{
    color:black;
}
.table
{
    background-color:transparent;


}
.container
{
    background-color:grey;
}

#queue__
{
background: navy; /* For browsers that do not support gradients */
background: -webkit-linear-gradient(-90deg,navy, #2f353f); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(-90deg,navy, #2f353f); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(-90deg,navy, #2f353f); /* For Firefox 3.6 to 15 */
background: linear-gradient(-90deg,#92909a, #2f353f); /* Standard syntax (must be last) */
border:4px inset white;

}

#rating3
{   
    
    border:4px outset white;
}
#rating4
{
background: #2f353f; /* For browsers that do not support gradients */
background: -webkit-linear-gradient(-90deg,#0588E6, #2f353f); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(-90deg,#0588E6, #2f353f); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(-90deg,#0588E6, #2f353f); /* For Firefox 3.6 to 15 */
background: linear-gradient(-90deg,#92909a, #2f353f); /* Standard syntax (must be last) */

}




.element{
    flex:1 1 0;
    overflow:auto; 
    text-align: center;
    background-color:white;
    border: 3px black double;
 }
 .label-custom
 {
    background-color:grey;
 }
  .label-custom2
 {
    background-color:green;
 }
#lyrics
{   
    text-align:center;
    background-color:white;
    border: 2px black double;
}

.glyphicon-chevron-right{
    color:red;
    font-size:1em;

}
#player1
{
    border:10px white outset;
    background: #ff5fe2; /* For browsers that do not support gradients */
background: -webkit-linear-gradient(-90deg,#ff5fe2, #2f353f); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(-90deg,#ff5fe2, #2f353f); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(-90deg,#ff5fe2, #2f353f); /* For Firefox 3.6 to 15 */
background: linear-gradient(-90deg,#92909a, #2f353f); /* Standard syntax (must be last) */
}


.glyphicon-info-sign
{
    color:red;
    font-size:2.7em;

}
.tolltip-inner{
white-space:pre-wrap;
}


#myAudio
{
    display: table;
    margin: 0 auto;
}








